POSTGRES_USER=intellihire
POSTGRES_PASSWORD=your_password

JOB_DB_NAME=job_db
JOB_DB_PORT=5433

CANDIDATE_DB_NAME=candidate_db
CANDIDATE_DB_PORT=5434

RAG_DB_NAME=rag_db
RAG_DB_PORT=5435

AUTH_DB_HOST=localhost
AUTH_DB_PORT=5436

KAFKA_BROKER=localhost:9092
JWT_SECRET=your_jwt_secret

OLLAMA_BASE_URL=http://localhost:11434

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your-gmail@gmail.com
MAIL_PASS=your-app-password
MAIL_FROM=IntelliHire <your-gmail@gmail.com>
